.App {
 text-align: center;
}

.home__background-image {
  position: fixed;  
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  opacity: 0.65;
}

.nav {
  height:110px;
  width:100%;
  background-color: white;
  z-index: 100;
}

.list {
  margin: 25px;
  list-style: none;
}

.slide {
  display: inline;
}

.search {
  display: inline;
  position: fixed;
  top: 250px;
  left: 10%;
  display: flex;
  flex-direction: column;
}

.searchbar {
  width:50%;
  top:400px;
  position:fixed;
  display: flex;
}

.promo {
  display: inline;
  position: fixed;
  top: 175px;
  right: 10%;
}

.signup-button {
  position: fixed;
  bottom:50px;
  right: 120px;
}

.signup__background-image {
  position: fixed;  
  width: 100vw;
  height: 85vh;
  background-image: url(https://images.squarespace-cdn.com/content/v1/5a63c6f59f07f55bcda7fad9/1558229854659-M0IR8W1GLOLHE95R4Q67/ke17ZwdGBToddI8pDm48kBZw6jF4_OvU-ddo_vwqGhp7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Ub61YCrK70I7JIpWiI8ho4Yi1WvVNQtDE81xuRbL1MFKm0sD-Bab7E9MY8W31A7zMQ/258DDEA7-C6CA-46D3-93ED-C13F6BE48A67.JPG?format=2500w);
  background-size: cover;
  background-position: bottom;
  opacity: 0.75;
}

.signup-container {
  padding:25px;
  width: 100%;
}

.signup-header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.signup-form {
  position: relative;
  padding: 10px;
}

.register-button{
  position: fixed;
  left: 375px;
}

@media  (max-width: 700px) {
  .promo {
  display: none;
  }

  .searchbar {
    width:75%;
    top:400px;
    position:fixed;
    display: flex;
  }

  .hidden {
    position: fixed;
    top: 475px;
    right:145px;
  }

  .signup-button {
    width:25%;
    position: fixed;
    top: 515px;
    left:175px;
  }
}

@media  (min-width: 700px) {
  .hidden {
    display: none;
  }
}