.App {
 text-align: center;
}

.home__background-image {
  position: fixed;  
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  opacity: 0.65;
}

.nav {
  height:110px;
  width:100%;
  background-color: white;
  z-index: 100;
}

.slide {
  display: inline;
}

.search {
  display: inline;
  position: fixed;
  top: 250px;
  left: 10%;
  display: flex;
  flex-direction: column;
}

.searchbar {
  width:50%;
  top:400px;
  position:fixed;
  display: flex;
}

.signup-container {
  padding:15px;
  padding-right: 30px;
  width: 30%;
  float: right;
}

.signup {
  position: fixed;
  top: 120px;
  padding-top: 20px;
}

.button {
  position: fixed;
  bottom:50px;
  right: 120px;
}

.signup-form {
top:100px;
position: relative;
}


@media  (max-width: 700px) {
  .signup-container {
  display: none;
  }

  .searchbar {
    width:75%;
    top:400px;
    position:fixed;
    display: flex;
  }

  .hidden {
    position: fixed;
    top: 475px;
    right:145px;
  }

  .button {
    width:25%;
    position: fixed;
    top: 515px;
    left:175px;
  }
}
